:root {
  --max-width: 1337px;
}

html {
  /* fix rendering on iOS devices where font sizes get wonky */
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

span[role="img"] {
  font-family: serif;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}
