{{ define "title" }}{{ .FileID }} - snips.sh{{ end }} {{ define "head" }}
<meta property="og:title" content="{{.FileID}} - snips.sh" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="snips.sh" />
<meta property="og:description" content="{{.OGDescription}}" />
{{ if .OGImageURL }}
<meta property="og:image" content="{{.OGImageURL}}" />
{{ end }}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{.FileID}} - snips.sh" />
<meta name="twitter:description" content="{{.OGDescription}}" />
{{ if .OGImageURL }}
<meta name="twitter:image" content="{{.OGImageURL}}" />
{{ end }} {{ if .CSS }}
<style>
    {{ .CSS }}
</style>
{{ end }} {{ end }} {{ define "nav" }}
<div class="file-details text-sm">
    <div class="file-detail">
        <i data-lucide="terminal"></i>
        <a href="">{{ .FileID }}</a>
    </div>
    <div class="file-detail">
        <i data-lucide="file-code"></i>
        {{ .FileType }}
    </div>
    <div class="file-detail">
        <i data-lucide="hard-drive"></i>
        {{ .FileSize }}
    </div>
    {{ if .UpdatedAt }}
    <div class="file-detail">
        <i data-lucide="square-pen"></i>
        {{ .UpdatedAt }}{{ if .RevisionCount }}<span class="revision-indicator"
            >*</span
        >{{ end }}
    </div>
    {{ end }} {{ if .Private }}
    <div class="file-detail danger">
        <i data-lucide="hat-glasses"></i>
        private
    </div>
    {{ end }}
</div>
<div class="file-actions">
    <a
        class="file-action"
        id="to-top"
        data-hide
        aria-label="go to top"
        data-shortcut="t"
    >
        <kbd>t</kbd>top
    </a>
    {{ if ne .FileType "binary" }}
    <button
        class="file-action"
        id="copy-content"
        aria-label="copy to clipboard"
        data-shortcut="c"
    >
        <kbd>c</kbd>copy
    </button>
    {{ end }} {{ if .RawHREF }}
    <a
        class="file-action"
        id="view-raw"
        href="{{ .RawHREF }}"
        aria-label="view raw file"
        data-shortcut="r"
    >
        <kbd>r</kbd>raw
    </a>
    {{ end }} {{ if .RevisionCount }}
    <a
        class="file-action"
        href="/f/{{ .FileID }}/rev"
        aria-label="view revision history"
        data-shortcut="h"
    >
        <kbd>h</kbd>history
    </a>
    {{ end }}
</div>
{{ end }} {{ define "content" }}
<article class="file-content">{{ .HTML }}</article>
{{ if ne .FileType "binary" }}
<pre id="raw-content" hidden aria-hidden="true">{{ .RawContent }}</pre>
{{ end }} {{ end }}
