<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✂️</text></svg>">
  <title>snips.sh - {{ .FileID }}</title>
  <style>
    {{ .CSS }}
  </style>

  <link rel="stylesheet" href="/static/file.css">
  <script async defer src="/static/file.js"></script>
</head>

<body>
  <div class="file-container">
    <div class="file-header">
      <div>file: <a href=".">{{ .FileID }}</a> ({{ .FileType }}) &middot; {{ .FileSize }} &middot; {{ .CreatedAt }}</div>
      <a class="btn" href="{{ .RawHREF }} " aria-label="view raw file">view raw</a>
    </div>
    {{ .HTML }}
  </div>
  <footer>
    <span role="img" aria-label="scissors">✂️</span>
    <a href="/">snips.sh</a>
  </footer>
</body>

</html>
