.markdown {
  font-family: var(--font-sans);
  box-sizing: border-box;
  padding: 1.5rem;
}

.markdown > :first-child {
  margin-top: unset !important;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  font-weight: 600;
  padding-bottom: 0.3rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.markdown h1, .markdown h2 {
  border-bottom: var(--border);
}

.markdown table {
  display: block;
  overflow: auto;
  width: max-content;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown table th {
  background: var(--color-gray-1);
  font-weight: 600;
}

.markdown table th, .markdown table td {
  padding: 0.5rem 1rem;
  border: var(--border);
}

.markdown blockquote {
  margin: unset !important;
  padding: 0rem 1rem;
  border-left: 0.2rem solid var(--color-gray-7);
  color: var(--color-gray-7);
}

.markdown code, .markdown pre {
  margin: unset !important;
  background: var(--color-gray-1);
  border-radius: var(--border-radius);
}

.markdown pre {
  padding: 1rem;
}

.markdown pre code {
  padding: unset;
}

.markdown code {
  padding: 0.2rem 0.4rem;
  line-height: 1.6rem;
}
