name: Lint

on:
  push:

permissions:
  contents: read

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v4
      with:
        go-version: '1.20'
        cache: false
    - uses: golangci/golangci-lint-action@v3
      with:
        version: v1.52.2
