name: Test

on:
  push:

permissions:
  contents: read

jobs:
  gotest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v4
      with:
        go-version: '1.20'
    - uses: script/install-libtensorflow
    - name: Test
      uses: robherley/go-test-action@v0.1.0
      with:
        omitUntestedPackages: true
