name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  gotest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
    - name: Install magika
      run: |
        curl -LsSf https://github.com/google/magika/releases/latest/download/magika-installer.sh | sh
        echo "$HOME/.local/bin" >> $GITHUB_PATH
    - name: Test
      uses: robherley/go-test-action@v0.7.1
      with:
        omit: untested
